@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
*{
  font-family: "Kalam", cursive;
}
h1{
  padding-top: 20px;
}
.card{
  transition: 0.4s;
}
.card:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}